*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    height: 100vh;
}

#first{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: antiquewhite;
    gap: 30px;

}

.user{
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 2px solid white ;
    border-radius: 5px;
    gap: 20px;
}

img{
    width: 100px;
    height:200px;
    object-fit: cover;
}

h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

}

a{
    text-decoration: none;
    color: black;

}